

#parentDiv{
    width: 50vw;
    height: 50vh;
    background-color:green;
    display: flex;
    justify-content: center;
    align-items: center;
}



#childDiv{
    width: 50%;
    height: 50%;
    background-color: gray;
}

.origin{
    height: 50vh;
    width: 50vw;
    background-color: #dadada;
    font-size: 40px;
}
h1{
    font-size: 1rem;
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 3rem;
}